@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #fcfcfc 50%, #fff 50%);
  font-family: "IBM Plex Sans", sans-serif;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

.payment-section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

.left-side {
  display: flex;
  max-width: 500px;
  width: 100%;
  height: 745px;
  flex-direction: column;
  justify-content: space-between;
}

.left-side__header > h2 {
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.left-side__header > h1 {
  font-weight: 700;
  font-size: 40px;
  color: #000;
  margin-top: 27px;
}

.left-side__header > h1 > span {
  color: #919191;
}

.total-block {
  max-width: 373px;
  width: 100%;
  display: flex;
  margin-top: 22px;
  justify-content: space-between;
}

.total-block > p {
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.total-block > span {
  font-weight: 500;
  font-size: 24px;
  color: #000;
}

.methods {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.methods > span {
  font-weight: 500;
  font-size: 20px;
  color: #bbb;
}

.methods-btn {
  width: 323px;
  height: 68px;

  font-weight: 550;
  font-size: 20px;
  color: #000;

  background-image: url("/assets/cart-btn.png");
  background-size: 58px;
  background-repeat: no-repeat;
  background-position: left 8px center;
  margin-top: 20px;
  padding-left: 42px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1.8px solid #1557f4;
}

.left-side__footer {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.left-side__footer > a {
  font-weight: 500;
  font-size: 16px;
  color: #bbb;
}

.payment-form {
  position: relative;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.payment-form__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-arrow {
  position: absolute;
  left: -75px;
  top: 10px;
  cursor: pointer;
}

.payment-form__header__logo {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.payment-form__header__logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inputs-block > h2 {
  font-weight: 700;
  font-size: 32px;
  color: #000;
  margin-top: 30px;
}

.input-text {
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.cart-input {
  width: 100%;
  margin-top: 45px;
}

.cart-input > input {
  width: 100%;
  height: 50px;

  font-weight: 500;
  font-size: 20px;
  color: #cecece;

  padding-left: 78px;
  margin-top: 11px;
  background: #f2f3f5;
  border-radius: 8px;
  background-image: url("/assets/masteCard-logo.png");
  background-size: 30px;
  background-repeat: no-repeat;
  transition: 0.3s;
  background-position: left 19px center;
}

.inputs-block__double {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.date-input {
  width: 232px;
}

.date-input > input {
  width: 100%;
  height: 50px;

  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #cecece;

  transition: 0.3s;
  margin-top: 11px;
  background: #f2f3f5;
  border-radius: 8px;
}

.cvv-input {
  width: 232px;
}

.cvv-input > input {
  width: 100%;
  height: 50px;

  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: #cecece;

  transition: 0.3s;
  margin-top: 11px;
  background: #f2f3f5;
  border-radius: 8px;
}

.name-input {
  width: 100%;
  margin-top: 30px;
}

.name-input > input {
  width: 100%;
  height: 50px;

  font-weight: 500;
  font-size: 20px;
  color: #cecece;

  transition: 0.3s;
  margin-top: 11px;
  padding-left: 30px;
  background: #f2f3f5;
  border-radius: 8px;
}

.cart-input > input:invalid {
  transition: 0.3s;
  border: 1px solid #f49b9b;
  background: url("/assets/masteCard-logo.png") #faf2f2;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left 19px center;
}
.date-input > input:invalid,
.cvv-input > input:invalid,
.name-input > input:invalid {
  border: 1px solid #f49b9b;
  background: #faf2f2;
}

.error-text {
  font-weight: 500;
  font-size: 16px;
  padding-top: 15px;
  color: #f07878;
}

.checkbox-input {
  display: flex;
  margin-top: 21px;
}

.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.cbx span:first-child {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #1557f4;
  transition: all 0.2s ease;
}

.cbx span:first-child svg {
  position: absolute;
  top: 3.5px;
  left: 4px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.cbx span:last-child {
  padding-left: 8px;
}

.cbx:hover span:first-child {
  border-color: #506eec;
}

.inp-cbx:checked + .cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave 0.4s ease;
}

.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.save-block {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #b5fbb4;
  border-radius: 32px;
  width: 170px;
  height: 25px;
  margin-top: 36px;
  margin: 36px 0 0 5px;
  background: #e5ffea;
}

.save-block > img {
  position: absolute;
  left: -5px;
}

.save-block > p {
  font-weight: 500;
  font-size: 14px;
  padding-left: 35px;
  text-align: center;
  color: #3de35d;
}

.pay-btn {
  width: 225px;
  height: 60px;

  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #fff;

  margin-top: 13px;
  border-radius: 10px;
  background: #1557f4;
  transition: 0.3s;
  cursor: pointer;
}

.pay-btn:hover {
  background: none;
  border: 2px solid #1557f4;
  color: #1557f4;
}

.mobile-total {
  width: 100%;
  display: none;
  justify-content: space-between;
  padding: 0 3% 0 3%;
  margin-top: 20px;
}

.mobile-total > p {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.mobile-total > span {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.some-description {
  max-width: 350px;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  margin-top: 27px;
}

@media screen and (max-width: 1051px) {
  .payment-section {
    padding: 0 1% 0 1%;
  }
  .total-block {
    max-width: 340px;
  }
  .inputs-block__double {
    gap: 15px;
  }
}

@media screen and (max-width: 895px) {
  body {
    background: #fff;
  }
  .payment-section {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .left-side {
    display: none;
  }
  .payment-form {
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 65px;
  }
  .payment-form__header {
    padding-left: 70px;
  }
  .back-arrow {
    left: 0;
    top: 20px;
    width: 32px;
    height: 32px;
  }

  .pay-btn {
    width: 100%;
    height: 70px;
    margin-top: 20px;
  }
  .mobile-total {
    display: flex;
    margin-top: 45px;
  }
  .checkbox-input {
    padding-left: 2px;
    margin-top: 11px;
  }
  .save-block {
    margin: 36px 0 0 3px;
  }
}

@media screen and (max-width: 555px) {
  .payment-section {
    padding: 0 5% 0 5%;
  }
  .inputs-block > h2 {
    font-size: 22px;
  }
  .cart-input > input,
  .date-input > input,
  .cvv-input > input,
  .name-input > input {
    height: 40px;
    font-size: 17px;
  }
  .cart-input,
  .inputs-block__double,
  .name-input {
    margin-top: 25px;
  }
  .input-text {
    font-size: 17px;
  }
  .payment-form__header {
    padding-left: 55px;
  }
  .payment-form__header__logo {
    width: 54px;
    height: 54px;
  }
  .some-description {
    font-size: 16px;
    color: #000;
  }
  .сonfirmation-text {
    margin: 40px 0 50px 0 !important;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: modal-show 0.5s 1 forwards;
}

.modal-content {
  position: relative;
  max-width: 550px;
  width: 100%;
  padding: 20px 30px 40px 30px;
  border-radius: 25px;
  background-color: white;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}

.modal-another {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: modal-show 0.5s 1 forwards;
}

.modal-content-another {
  position: relative;
  max-width: 550px;
  width: 100%;
  padding: 20px 30px 40px 30px;
  border-radius: 25px;
  background-color: white;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  -o-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
/* Модальные окна пропищите display: flex */
.error {
  display: none;
}

.defence {
  display: none;
}

.pay {
  display: none;
}

.some {
  display: none;
}
/* Модальные окна пропищите display: flex */

.space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal:target {
  display: flex;
}

.modal-another:target {
  display: flex;
}

.modal-hide {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 60px;
  height: 60px;
  padding: 0;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  font-size: 48px;
  text-align: center;
  color: black;
  text-decoration: none;
}

@keyframes modal-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.warner-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.warner-arrow {
  position: absolute;
  cursor: pointer;
  left: 5px;
}

.warner-header__text {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  white-space: nowrap;
  padding-left: 70px;
}

.warner-header__defend {
  font-weight: 700;
  font-size: 36px;
  color: #000;
  white-space: nowrap;
  padding-left: 70px;
}

.mobile-text {
  display: none;
}

.warner-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
  gap: 29px;
}

.warner-main > h4 {
  font-weight: 500;
  font-size: 36px;
  color: #000;
}

.warner-description {
  font-weight: 500;
  font-size: 24px;
  color: #bbb;
  margin-top: 60px;
}

.warner-error {
  font-weight: 500;
  font-size: 24px;
  color: #bbb;
  margin-top: 25px;
}

.warner-btn {
  border: 2px solid #1557f4;
  border-radius: 10px;
  width: 225px;
  height: 60px;

  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #1557f4;
  transition: 0.3s;
  margin-top: 55px;
  cursor: pointer;
  background: none;
}

.warner-btn:hover {
  background: #1557f4;
  color: #fff;
}

.enter-text {
  font-weight: 500;
  font-size: 20px;
  color: #bbb;
  margin-top: 50px;
}

.sms-input {
  width: 100%;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  color: #cecece;

  transition: 0.3s;
  margin-top: 11px;
  padding-left: 30px;
  background: #f2f3f5;
  border-radius: 8px;
}

.sms-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}

.sms-footer > p {
  width: 121px;
  font-weight: 500;
  font-size: 16px;
  color: #bbb;
}

.confirmations-header {
  position: relative;
  width: 100%;
  display: flex;
  padding-left: 60px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #cecece;
}

.confirmations-logo {
  width: 64px;
  height: 64px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.confirmations-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.confirmations-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 41px;
}

.confirmations-main > h5 {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin-top: 32px;
  color: #000;
}

.confirmations-main > h6 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #000;
}

.logo-name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #000;
  margin-top: 58px;
}

.confirmations-price {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-top: 5px;
}

.spinner {
  animation: rotate 2s linear infinite;
  margin-top: 36px;
  width: 55px;
  height: 55px;
}

.spinner .path {
  fill: none;
  stroke: #1557f4;
  stroke-width: 5;
  stroke-linecap: round;
  animation: dash 2s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.close-block {
  width: 225px;
}

.close-btn {
  border: 2px solid #1557f4;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #1557f4;
  margin-top: 95px;
  transition: 0.3s;
  background: none;
  cursor: pointer;
}

.close-btn:hover {
  background: #1557f4;
  color: #fff;
}

@media screen and (max-width: 895px) {
  .sms-footer {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .sms-footer > p {
    margin-top: 15px;
  }
  .warner-header__text {
    font-size: 27px;
    padding-left: 70px;
  }
  .warner-header__defend {
    padding-left: 75px;
    font-size: 30px;
  }
}

@media screen and (max-width: 555px) {
  .modal {
    position: absolute;
  }
  .modal-content {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0px 30px 40px 30px;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  /* .confirmations-main{
    padding-bottom: 40px;
  } */
  .modal-content-another {
    max-width: 340px;
    min-height: 535px;
    padding: 20px 25px 40px 25px;
  }
  .warner-btn {
    width: 100%;
  }
  .warner-main > h4 {
    font-size: 26px;
  }
  .warner-description,
  .warner-error {
    font-size: 16px;
  }
  .warner-header__text {
    display: none;
  }
  .warner-header__defend{
    font-size: 24px;
    padding-left: 50px;
  }
  .mobile-text {
    display: block;
    font-size: 24px;
    padding-left: 50px;
  }
  .warner-arrow {
    width: 32px;
    height: 32px;
  }
  .confirmations-header {
    padding-left: 55px;
  }
  .confirmations-logo {
    width: 54px;
    height: 54px;
  }
  .close-block {
    width: 100%;
  }
  .space {
    justify-content: space-between;
    padding-bottom: 65px;
  }
}
